@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-color:azure;
    font-family: 'Lato', sans-serif;
} 

h2 {
    text-align: center;
}

.salida {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-top: 2rem;
    border: 1px solid black;
    width: 10rem;
    margin: 0 auto; 

    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black,  0 -1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black ;
} 

.color-div {
    text-align: center;
    margin-top: 1rem;
} 

li {
    display: inline-block;
    text-align: center;
    list-style: none;
    font-size: 1.3rem;
    color: snow;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000,
      1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  
    margin: 5px;
    padding: 4px;
  }
  